<header>
  <div id="header">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    Dave's Link Shortener
  </div>
    <% if(username) { %>
        <form action="/logout" method="POST">
        <p id="user"> Logged in as: <%=  username %> </p>
        <input class="buttons" id="loggedIn" type="submit" value="Sign Out">
        </form>
    <% } else { %>
        <a id="register" href="/register"> If, you haven't registered yet, click here! </a>
        <form action="/login" method="POST">
        <input id="logIn" type="text" name="username" placeholder="Log in here!">
        <input class="buttons" type="submit" value="Log In">
        </form>
    <%   } %>
</header>