<header>
  <div id="header">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    Dave's Link Shortener
  </div>
    <% if(info === undefined) { %>
      <a id="register" href="/register"> If, you haven't registered yet, click here </a>
      <p>If you are already a user, please login here </p>
      <a href="/login"><button>Log In</button></a>
    <% } else { %>
        <form action="/logout" method="POST">
        <p id="user"> Logged in as: <%=  info.email %> </p>
        <input class="buttons" id="loggedIn" type="submit" value="Sign Out">
        </form>
    <%   } %>
</header>

