<!DOCTYPE html>
<html>
  <body>
    <div id="header">
    <link href="/styles.css" rel="stylesheet" type="text/css">
      Dave's Link Shortener
    </div>
      <form action="/login" method="POST">
        <input class="logIn" type="email" name="email" placeholder="Log in here!">
        <input class="logIn" type="password" name="password" placeholder="Password">
        <input class="buttons" type="submit" value="Log In">
      </form>
  </body>
</html>

