<!DOCTYPE html>
<html lang="en">
  <% include ./partials/_html_head %>
  <body>
    <% include partials/_header %>
   <div class="formVertical">
    <form action="/urls" method="POST" style="margin:150px;">
      <label id="newURL" for="longURL">Enter a new url:</label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px" >
      <input class="buttons" type="submit" value="Submit">
    </form>
  </div>
  </body>
</html>