.buttons {
  background-color: #aaa;
  border-radius: 40%;
  display: inline-block;
  font-size: 25px;
  color: black;
  border: 2px solid black;
  padding: 10px;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  text-align: center;
}

.buttons:hover {
  background-color: #000;
  color: #fff;
  border: 3px dotted white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.54), 0 17px 50px 0 rgba(0,0,0,0.54);
}

#header {
  text-align: center;
  font-size: 3.25em;
  line-height: 2em;
}

#user {
  font-size: 1.25em;
  color: yellow;
}

#register {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

#register:hover {
  color: blue;
  font-size: 1.65em;
}

.logIn {
  height: 25px;
  width: 190px;
}
/*#hidden {
  display: none;
}
not working...
#hidden:hover {
  display: block;
  color: white;
  font-size: 2em;
}*/

#short {
  font-size: 2.2em;
  text-align: center;
}

.shortLink {
  color: #ba7443;
  font-size: 2em;
  text-decoration: underline;
  text-decoration: bold;
}

.shortLink:hover {
  font-size: 3.5em  ;
  text-decoration: none;
}

#update {
  font-size: 2em;
}

body {
  color: #c9b12a;
  background-color: #66603e;
  text-align: center;
}

#list {
  font-size: 1.6em;
  text-decoration: none;
  text-align: center;
  background-color: #96938d;
  display: inline-block;
  color: black;
  border-radius: 10%;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 5%;
  margin-bottom: 5%;
}

#longURL {
  line-height: 2.5em;
}

#newURL {
  font-size: 1.5em;
}

.formVertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#text {
  width: 253px;
  line-height: 2em;
}