.buttons {
  background-color: #aaa;
  border-radius: 40%;
  display: inline-block;
  font-size: 25px;
  color: black;
  border: 2px solid black;
  padding: 10px;
  -webkit-transition-duration: 1.0s;
  transition-duration: 1.0s;
  text-align: center;
  float: center;
}

.buttons:hover {
  background-color: #000;
  color: #fff;
  border: 3px dotted white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.54), 0 17px 50px 0 rgba(0,0,0,0.54);
}

#header {
  text-align: center;
  font-size: 3.25em;
  line-height: 2em;
  text-decoration: none;
}

html { height: 100%; }

.footer {
  font-size: 0.85em;
  font-family: helvetica;
  color: white;
  text-decoration: none;
  width: 100%;
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
  height:[footer-height];
  background-color: #000;
  padding-bottom: 5px;
  margin-bottom: -10px;
}

#noLink {
  text-decoration: none;
  color: #ba7443 ;
}

#user {
  font-size: 1.25em;
  color: yellow;
}

#register {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

#register:hover {
  color: blue;
  font-size: 1.65em;
}

.logIn {
  height: 25px;
  width: 190px;
}

#short {
  font-size: 2.2em;
  text-align: center;
}

.shortLink {
  color: #ba7443;
  font-size: 2em;
  text-decoration: underline;
  text-decoration: bold;
}

.shortLink:hover {
  font-size: 3.5em  ;
  text-decoration: none;
}

#update {
  font-size: 2em;
}

.main-text {
  color: white;
  font-size: 1.5em;
}

.welcome {
  font-size: 2.5em;
  margin-top: 100px;
}

body {
  color: #e5dae4;
  background-color: #301c0d;
  text-align: center;
  min-height:100%;
  position:relative;
  padding-bottom:[footer-height]
}

#list {
  font-size: 1.6em;
  text-decoration: none;
  text-align: center;
  background-color: #96938d;
  display: inline-block;
  color: black;
  border-radius: 10%;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
}

#longURL {
  line-height: 2.5em;
}

#newURL {
  font-size: 1.5em;
}

.formVertical {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

#text {
  width: 253px;
  line-height: 2em;
}

.click-here {
  text-decoration: none;
  font-size: 1.3em;
  margin-top: 50px;
  position:relative;
  transition: .5s ease;
/*  top: 1px;
  left: 100px;
  right: -420px;
  bottom: -191px;
  color: white;*/
}

#left {
  float: left;
}

#right {
  float: right;
}